.App {
  text-align: center;
}

/* .App-logo {
  height: 50px;
  vertical-align: left;
} */

/* .header{
  width : 100%;
  height: 100px;
  display: block;
  background-color: black;
}

.pageName{
  height: 100%;
  display: table;
  float: center;
}

.pageName h1{
  color: white;
  height: 100%;
  text-align: center;
} */

.home {
  padding: 20px 35px;
}

.header {
  width: 100%;
  height: fit-content;
  background-color: black;
  /*border: 2px solid green;*/
}

.header .title {
  display: inline-block;
  width: fit-content;
  /*border: 2px solid red;*/
  padding: 10px 10px;
  vertical-align: middle;
}

.header .title h1 {
  display: inline-block;

  /*border: 2px solid blue;*/
  margin: 20px;
  font-size: 32px;
  color: gold;
  vertical-align: middle;
}

.header ul {
  position: relative;
  float: right;
  color: gold;
  display: inline-block;
  font-size: 20px;
  /*border: 2px solid purple;*/
  list-style: square;
  width: fit-content;
  margin: 50px 50px;
  vertical-align: middle;
}

.header li {
  display: inline-block;
  margin: 10px 0px;
  padding: 0 30px;
  /* border-right: 2px solid gold; */
  vertical-align: middle;
}
/* 
.header .border-left {
  border-left: 2px solid gold;
  vertical-align: middle;
} */

.header .links {
  text-decoration: none;
  color: gold;
  vertical-align: middle;
}

.header .links:hover {
  text-decoration: none;
  color: white;
  vertical-align: middle;
}

.header .links:active {
  text-decoration: none;
  color: red;
  vertical-align: middle;
}

.header .links-1 {
  text-decoration: none;
  color: gold;
  vertical-align: middle;
}

.header .links-1:hover {
  text-decoration: none;
  color: white;
  vertical-align: middle;
}

.header .links-1:active {
  text-decoration: none;
  color: red;
  vertical-align: middle;
}

.header .title img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  vertical-align: middle;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
  vertical-align: middle;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: gold;
  border-radius: 10px;
  vertical-align: middle;
}

.toggle-button .bar:hover {
  color: white;
}

.locations {
  padding: 20px 35px;
}

.locations .location-select p {
  display: inline-block;
}

.locations .location-select select {
  height: 30px;
  margin: auto 10px;
}

.locations .location-select::after {
  content: " ";
  display: block;
  width: 50px;
  border: 2px solid gold;
  margin-top: 20px;
  margin-bottom: 30px;
}

.location-buttons {
  max-width: 900px;
  background-color: gold;
  border-radius: 20px;
  margin: 20px 0;
}

.location-buttons a {
  cursor: pointer;
}

.location-buttons h3 {
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: inline-block;
  text-decoration: underline;
  padding-left: 20px;
}

.location-buttons .location-details {
  max-width: 800px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.location-buttons .location-details .lists {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.courses {
  padding: 20px 35px;
}

.courses .input-field::after {
  content: " ";
  display: block;
  width: 50px;
  border: 2px solid gold;
  margin-top: 20px;
  margin-bottom: 30px;
}

.courses .input-field #input {
  height: 25px;
  font-size: 16px;
  text-transform: uppercase;
}

.courses .input-field #button {
  height: 30px;
  margin: auto 15px;
  font-size: 16px;
  background-color: gold;
  border-radius: 15px;
}

.courses .input-field #button:hover {
  background-color: rgb(228, 194, 1);
}

.courses .course {
  max-width: 900px;
  background-color: gold;
  border-radius: 20px;
  margin: 20px 0;
}

.courses .course a {
  cursor: pointer;
}

.courses .course h3 {
  font-size: 18px;
  font-weight: 500;
  color: black;
  display: inline-block;
  text-decoration: underline;
  padding-left: 20px;
}

.courses .course-details {
  max-width: 800px;
  padding-left: 40px;
  padding-bottom: 20px;
}

.courses .course svg {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 0 20px;
  fill: red;
}

.courses .course svg:hover {
  fill: black;
  cursor: pointer;
}

@media (max-width: 1098.5px) {
  .toggle-button {
    position: absolute;
    top: 4rem;
    right: 1rem;
    display: flex;
  }
  .header .links {
    width: 100%;
    position: relative;
    bottom: 25px;
  }

  .header .links-1 {
    display: none;
  }

  .header {
    align-items: flex-start;
    display: table;
    height: fit-content;
  }

  .header ul  {
    width: 100%;
    display: grid;
    text-align: left;
  }

  .header li {
    text-align: left;
    padding: 0rem 3.5rem;
  }
  .header li a {
    padding: 0.5rem 1rem;
  }

  .header.links:active {
    display: flex;
  }
}

@media (min-width: 1098.5px) {
  .header .links {
    display: none;
  }
}

@media (max-width: 570px) {
  .header .title img {
    display: none;
  }

  .header .title h1{
    position: relative;
    right: 20px;
  }

  .toggle-button {
  
    position: absolute;
    top: 3rem;
    right: 1rem;
    display: flex;
  
  }

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
