.App {
  text-align: center;
}

/* .App-logo {
  height: 50px;
  vertical-align: left;
} */

/* .header{
  width : 100%;
  height: 100px;
  display: block;
  background-color: black;
}

.pageName{
  height: 100%;
  display: table;
  float: center;
}

.pageName h1{
  color: white;
  height: 100%;
  text-align: center;
} */

.header {
  width: 100%;
  height: fit-content;
  background-color: black;
  /*border: 2px solid green;*/
}

.header .title {
  display: inline-block;
  width: fit-content;
  /*border: 2px solid red;*/
  padding: 10px 10px;
}

.header .title h1 {
  display: inline-block;
  color: white;
  /*border: 2px solid blue;*/
  margin: 20px 20px;
  font-size: 32px;
  color: gold;
}

.header ul {
  position: relative;
  float: right;
  color: gold;
  display: inline-block;
  font-size: 20px;
  /*border: 2px solid purple;*/
  list-style: square;
  width: fit-content;
  margin: 30px 100px;
}

.header li {
  display: inline-block;
  margin: 10px 0px;
  padding: 0 40px;
  border-right: 2px solid gold;
}

.header .border-left {
  border-left: 2px solid gold;
}

.header .links {
  text-decoration: none;
  color: gold;
}

.header .links:hover {
  text-decoration: none;
  color: white;
}

.header .links:active {
  text-decoration: none;
  color: red;
}

.header .title img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  vertical-align: middle;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
